 html, body {
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
}

seccion{
    width: 100%;
    height:100%;
    padding:0;
    margin:0;

}

.parrallax{
background: #fff fixed no-repeat 50% 50%;
background-size: cover;
}

#seccion1{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.iebschool.com%2Fblog%2Fgeneradores-de-imagenes-con-ia-que-debes-conocer-tecnologia%2F&psig=AOvVaw0aoOk9bWhY3WzGmzp4E_1K&ust=1677503887927000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCOC8r4yjs_0CFQAAAAAdAAAAABAE");
}

#seccion2{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.educaciontrespuntocero.com%2Frecursos%2Fmejores-bancos-de-imagenes%2F&psig=AOvVaw0aoOk9bWhY3WzGmzp4E_1K&ust=1677503887927000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCOC8r4yjs_0CFQAAAAAdAAAAABAI");

}

#seccion3{
background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fmarketing4ecommerce.net%2Ftop-ia-generadoras-de-imagenes%2F&psig=AOvVaw0aoOk9bWhY3WzGmzp4E_1K&ust=1677503887927000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCOC8r4yjs_0CFQAAAAAdAAAAABAR")
}

