body{
    margin: 0;
}

h3{
    font-size: 38px;
}

.container{
    padding: 40px;

}

.nav{
justify-content: space-between;
display: flex21;
}

.seccion-1{
    text-align: center;
    padding: 150px 0;

}